*{
	margin:0;
	padding: 0;
	font-family: arial;

}



#view{
	position: absolute;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;;
	justify-content: center;
	
}


#view div{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	

}

#view div button{
	font-size: 2.5rem;
	padding: 2rem 6rem;
	border: 0;
	box-shadow:  1px 1px 1px 1px black;
	border-radius: 0.3rem;
	overflow: hidden;
	animation-name: mudarCor, rolar2;
  	animation-duration: 0.5s;
  	animation-iteration-count: infinite;
  	color: white;
  	text-shadow:  1px 1px 1px 1px black;


}

#view div img{
	width: 200px;
	margin-left: 100px;
	animation-name: rolar;
  	animation-duration: 0.5s;
  	animation-iteration-count: infinite;
  	
}





/*

#view div h2{
	margin-top: 0.5rem;
	font-weight: normal;
	font-size: 1.1rem;
	font-variant: small-caps;
	animation-name: surgir;
  	animation-duration: 1s;
}

*/


@keyframes mudarCor {
  from {background-color: #F68567;}
  to {background-color: #FEC679;}
}

@keyframes rolar {
  from {transform: rotate(-100deg);}
  to {transform: rotate(0deg);}
}

@keyframes rolar2 {
  from {transform: rotate(0deg);}
  to {transform: rotate(-10deg);}
}



